@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');


body{
    margin: 0px;  
}

.mainbody{
  background-color: rgb(252, 242, 242);
}


.nav{
  margin-left: 700px;
}
.d-flex {
  margin-left: 50px;
}

.nav li{
  padding: 10px;
}








.footer{
    background-color: black;
    height: 100px;
}
.footer h2{
    text-align: center;
     padding-top: 10px;
     color: white;
     font-size: 16px;
     font-weight: 700;
}
footer img{
    width: 25px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
}
 













































































.div6{

  
  height: 150px;
  width: 100%;
  background-color: rgb(11, 0, 62);
}

.div6 h2{
  color: white;
  text-align: center;
  padding-top: 30px;
  
  

}

.div6 p{
  color: white;
  text-align: center;
   

}
#footer-heading{
  
  margin-top:20px;
}

.footer-header0 h2{
  margin-top: 0px;
   
  
}

.small-icon img{
  width: 20px;
  background-color: white;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
   
    

}

.small-icon{
  text-align: center;

   
}

.div6 p{
  padding-bottom: ;
}